.vertial-line-neon {
    border-radius: 10px;
    height: 100%;
    width: 10px;
}

.vertial-line-neon-area {
    position: fixed;
    left: 20px;
    top: 100px;
    height: 80%;
    width: 40px;
    display: none;
}

.vertial-line-neon-area.close {
    display: block;
}

$medium-circle-height: 200vh;
$small-circle-height: 40vh;
$menu-quick-option-size: 68px;
$menu-nav-option-size: 95px;
$text-color: white;


.navigation-panel {
    * {
        color: $text-color;
    }
    a{
        filter: none;
    }

    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    overflow: hidden;
    width: 100vw;

    .blackboard {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.805);
    }

    .navigation-relative{
        position: relative;
        width: 100%;
        height: 100%;
    }

    .circle {
        position: absolute;
        left: 0;
        border-radius: 50%;
        z-index: 1;
    }

    .circle .menu-option{
        cursor: pointer;
        position: absolute;
        aspect-ratio: 1 / 1;
    
        .stabilizer {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            transform: rotateZ(var(--angle));
        }
    }

    .circle.large {
        height: 200vh;
        aspect-ratio: 1 / 1;
        top: calc(50% - 100vh);
        box-shadow: 0px 0px 20px 4px rgba(255, 255, 255, 0.182);
        background-color: #072b682f;
        border: 2px solid #881bdb;
    }


    .circle.medium {
        box-shadow: 0px 0px 20px 4px rgba(255, 255, 255, 0.182);
        height: $medium-circle-height;
        aspect-ratio: 1 / 1;
        background-color: #4b005a15;
        top: calc(50% - $medium-circle-height / 2);
        transform: translate(-100%, 0%);
        z-index: 1;

        .menu-nav-option{
            cursor: pointer;
            h3 {
                cursor: pointer;
                font-size: 16px;
                color: white;
                text-transform: uppercase;
            }
            text-decoration: none;
            z-index: -1;
            top: calc(50% - $menu-nav-option-size / 2);
            left: calc(50% - $menu-nav-option-size / 2);
            width: $menu-nav-option-size;
            border-radius: 50%;
            
            transform: rotateZ(var(--angle)) translate(calc( $medium-circle-height / 2 + $menu-nav-option-size / 2 + 25px)); 
        }
    }
    .circle.medium:hover, .circle.small:hover {
        box-shadow: 0px 0px 20px 4px rgba(255, 255, 255, 0.5);
    }

    .circle.small {
        position: fixed;
        left: 20px;
        top: 100px;
        border-radius: 10px;
        height: 80vh;
        width: 10px;
        box-shadow: 1px 1px 20px #DB1BB5;
        background: rgb(219,27,181);
        background: linear-gradient(180deg, #db1bb5 0%, #b019b0 52%, #881bdb 100%);

        .menu-quick-option{
            top: calc(50% - $menu-quick-option-size / 2);
            left: calc(50% - $menu-quick-option-size / 2);
            width: $menu-quick-option-size;
            background-color: #000000;
            border-radius: 50%;
            
            img{
                width: 80%;
                cursor: pointer;
            }
            .tooltip {
                background-color: #1e1e1e;
                border-radius: 0.5vh;
                box-shadow: 0px 0px 1vh 0.25vh rgba(0, 0, 0, 0.08);
                color: white;
                font-size: 1em;
                opacity: 0;
                padding: 1vh;
                pointer-events: none;
                position: absolute;
                right: -1vh;
                transform: translateX(90%);
                transition: opacity 250ms, transform 250ms;
            }
        }
        .menu-quick-option:hover {
            transition-delay: 0ms;
            box-shadow: 0px 0px 20px 4px rgba(255, 255, 255, 0.527);

            .tooltip {
                opacity: 1;
                transform: translateX(100%);
            }
        }
    }

}

//Anim
.navigation-panel {
    .blackboard {
        transform: translateX(-100vw);
        transition: 200ms;
        opacity: 0;
    }
    .circle.large {
        transition: 1000ms;
        transform: translate(-100%, 0%);
        
    }
    .circle.medium {
        transition: all 1800ms;
        transition-delay: 200ms;
        .menu-nav-option{
            transition-duration: 200ms;
            transition-delay: 0ms;
            opacity: 0;
        }
    }
    .circle.small {
        transition: all 400ms;
        transition-delay: 1000ms;

        .menu-quick-option{
            transition: 1400ms;
            transition-delay: 0ms;
            transform: rotateZ(calc( var(--angle) + 180deg )) translate(calc( $small-circle-height / 2 + $menu-quick-option-size / 2 + 30px)); 
        }
    }
}

.navigation-panel.close{
    pointer-events: none;
    .navigation-relative {
        pointer-events: none;
    }
}

.navigation-panel.open {   
    .blackboard {
        transform: translateX(0vw);
        opacity: 1;
    }

    .circle.large {
        transition-delay: 200ms;
        transform: translate(-70%, 0%);
    }

    .circle.medium {
        transition-delay: 0;
        transform: translate(-80%, 0%);
        .menu-nav-option{ 
            transition: all 800ms;
            transition-delay: 700ms;
            opacity: 100%;
        }
    }
   
    .circle.small {
        box-shadow: 0px 0px 20px 4px rgba(255, 255, 255, 0.2);
        border: 2px solid #ffffff36;
        height: 40vh;
        width: 40vh;
        border-radius: 50%;
        top: calc(50% - $small-circle-height / 2);
        background-color: #881bdb;
        transition-duration: 400ms;
        transition-delay: 0ms;
        left: calc($small-circle-height / -2);

        .menu-quick-option{
            transition-delay: 800ms;
            transform: rotateZ(var(--angle)) translate(calc( $small-circle-height / 2 + $menu-quick-option-size / 2 + 30px)); 
        }
    }

    
}




// @media (max-width: 1200px) {
//     #app {
//         #menu {
//             width: 30vh;
//             #menu-background-wrapper { width: 30vh; }
//             #menu-profile-image { height: 30vh; width: 30vh; }
//             #menu-quick-options { width: 15vh; }
//             #menu-full-options { left: 34vh; }
//         }
//     }
// }

// @media (max-width: 800px) {
//     #app {
//         #menu {
//             width: 25vh;
//             #menu-background-wrapper { width: 25vh; }
//             #menu-profile-image { height: 25vh; width: 25vh; }
//             #menu-quick-options { width: 12.5vh; }
//             #menu-quick-options .menu-quick-option { height: 7vh; width: 7vh; }
//             #menu-full-options { left: 29vh; }
//         }
//     }
// }

// @media (prefers-reduced-motion) {
//     #app #menu {
//         transition: none;
//         .menu-quick-option { transition: none; }
//         .menu-full-option { transition: none; }
//         #menu-background:before { transition: none; }
//     }
// }