.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;    
    margin: 20px 0;
}


.container .hotel img{
    width: 200px;
    height: 200px;
    border-radius: 20px;
}
.container .hotel p {
    color: white;
}
.container img:empty  {
    border: 1px solid white;
    border-radius: 0px;
}