.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;    
    margin: 20px 0;
}


.container .categories img{
    width: 200px;
    height: 200px;
    border-radius: 20px;
}

.container .categories:empty  {
    border: 1px solid white;
    border-radius: 0px;
}